<!--支付失败-->
<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="../include/head.html?__inline">
    <link href="style.less" rel="stylesheet"/>
</head>
<body id="app" class="pay-fail-page">
<header class="mui-bar mui-bar-nav memebox-header">
    <a class=" mui-icon mui-icon-left-nav mui-pull-left" @tap=goBack></a>
    <h1 class="mui-title">支付失败</h1>
    <a href="../home/home.html" class="mui-icon-home mui-icon mui-icon-right-nav mui-pull-right"></a>
</header>
<div class="mui-content" v-if="showFail">
    <div class="payment-box" align="center">
        <img src="include/fail.png" src="支付失败">
        <p>支付失败,请重新支付</p>
    </div>
    <div id="select-pay" class="select-pay " v-show="init" style="display: none">
        <div class="mui-table-view" style="top:0;">
            <form class="mui-input-group">
                <div class="show-price" align="center">
                    <p>
                    <span v-show="pay.time" style="display: none">
                        请在{{pay.time}}内完成支付,
                    </span>
                        订单金额:<span>¥{{pay.totalAmount}}</span>
                    </p>
                </div>
                <div v-show="pay.ali" class="ali mui-input-row mui-radio">
                    <input type="radio" class="pay-radio" name="pay" v-model="payType" value="ali" :checked="pay.ali" >
                    <label>
                        <img src="../../img/alipay.png" alt="支付宝支付">
                        <span>支付宝支付</span>
                    </label>
                </div>

                <div v-show="pay.wx" class="wx mui-input-row mui-radio">
                    <input type="radio" class="pay-radio" name="pay" v-model="payType" value="wx" :checked="pay.wx" >
                    <label class="mui-table-view-cell">
                        <img src="../../img/weixin.png" alt="微信支付">
                        <span>微信支付</span>
                    </label>
                </div>
                <div class="pay-bottom">
                    <a class="sure-btn" style="background: #ccc" v-if="pay.time===false">已过期</a>
                    <a class="sure-btn" @tap="checkout" v-else>重新支付</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="position: absolute;top:0;left:0; width:100%; height:100%; background: #fff;z-index: 300" v-else>

</div>
<link rel="import" href="../include/c.html?__inline">
<script>
    require('payment/fail');
</script>
</body>
<link rel="import" href="../include/ga.html?__inline">
</html>